{% extends 'layout.html' %}
{% load static %}
{% block title %}Staff Directory | JMC QPS Portal{% endblock %}
{% block content %}

<div class="min-h-screen mx-auto space-y-6 antialiased">
    {% include 'staff/partials/header_actions.html' %}
    {% include 'staff/partials/filter_section.html' %}
    {% include 'staff/partials/staff_table.html' %}
    {% include 'staff/partials/pagination.html' %}
</div>

{# Messages passed from Django #}
<div id="django-messages" class="hidden">
    {% for msg in messages %}
        <div class="message" data-level="{{ msg.tags }}" data-message="{{ msg }}"></div>
    {% endfor %}
</div>

{% include 'staff/partials/modals.html' %}

<script src="{% static 'js/staff.js' %}"></script>
<script>
    document.querySelectorAll('#django-messages .message').forEach(msg => {
        Swal.fire({
            icon: msg.dataset.level === 'success' ? 'success' : (msg.dataset.level === 'error' ? 'error' : 'info'),
            title: msg.dataset.message,
            timer: 3000, toast: true,
            position: 'top-end',
            showConfirmButton: false
        });
    });
</script>
{% endblock %}